@import "./variables.scss";
@import "./normalize.scss";

@font-face {
  font-family: FiraSans-R;
  src: url("/fonts/FiraSans-Regular.ttf") format("ttf");
}
* {
  box-sizing: border-box;
}
html,

body {
  background-color: #eee;
  font-family: $Regular;
}
button:active, button:focus {
    outline: none;
  }
  button::-moz-focus-inner {
    border: 0;
  }
  input:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
button:disabled {
  opacity: 0.7;
  cursor: default;
}
.btn {
  cursor: pointer;
  font-family: $Regular;
}
