<template>
  <section class="documents">
    <div class="documents-head">
      <div class="documents-head__top">
        <h1 class="documents-head__title">Документы</h1>
        <div class="documents-head__btns">
          <button class="btn btn-book-m">
            <img src="../assets/i-book-m.svg" alt="" />
          </button>
          <button class="btn btn-add">Новый тип</button>
          <button class="btn btn-add">Новый документ</button>
        </div>
      </div>
      <div class="documents-head__search">
        <input
          v-model="searchInput"
          class="documents-head__search-input"
          type="text"
          placeholder="Документы для сборщиков"
        />
        <button
          v-show="searchInput.length"
          @click="clearInput"
          class="btn btn-close"
        >
          <img src="../assets/i-close.svg" alt="" />
        </button>
      </div>
    </div>

    <DocumentsList
      :docs-categories="filteredDocumentsCategories"
      :docs-items="documentsItems"
      @transfered="transfered"
    />
  </section>
</template>

<script>
import DocumentsList from "./DocumentsList.vue";
export default {
  components: {
    DocumentsList,
  },
  data() {
    return {
      searchInput: "",
      documentsCategories: [
        {
          id: 10,
          name: "Обязательные для всех",
          text: "Документы, обязательные для всех сотрудников без исключения",
          docAttr1: true,
          docAttr2: true,
          docAttr3: true,
          attached: [
            {
              id: 1015,
              name: "ИННF",
              text: "Для всех",
              docAttr1: false,
              docAttr2: false,
              docAttr3: false,
              docAttr5: false,
              docAttr6: false,
              required: true,
            },
          ],
        },
        {
          id: 11,
          name: "Обязательные для трудоустройства",
          text:
            "Документы, без которых невозможно трудоустройство человека на какую бы то ни было должность в компании вне зависимости от граж",
          docAttr1: false,
          docAttr2: true,
          docAttr3: false,
          attached: [],
        },
        {
          id: 12,
          name: "Специальные",
          text: "",
          docAttr1: false,
          docAttr2: false,
          docAttr3: false,
          attached: [],
        },
      ],
      documentsItems: [
        {
          id: 1000,
          name: "Паспорт",
          text: "Для всех",
          docAttr1: false,
          docAttr2: false,
          docAttr3: false,
          docAttr5: true,
          docAttr6: true,
          required: true,
        },
        {
          id: 1001,
          name: "ИНН",
          text: "Для всех",
          docAttr1: false,
          docAttr2: false,
          docAttr3: false,
          docAttr5: false,
          docAttr6: false,
          required: true,
        },
        {
          id: 1002,
          name: "ИНН",
          text: "Для всех",
          docAttr1: false,
          docAttr2: false,
          docAttr3: false,
          docAttr5: false,
          docAttr6: false,
          required: true,
        },
      ],
    };
  },
  computed: {
    filteredDocumentsCategories() {
      console.log(this.documentsCategories.filter((item) => {
            item.name.toLowerCase().includes(this.searchInput.toLowerCase());
          }))
      return this.searchInput.length >= 1
        ? this.documentsCategories.filter((item) => {
            return item.name.toLowerCase().includes(this.searchInput.toLowerCase());
          })
        : this.documentsCategories;
    },
  },
  methods: {
    clearInput() {
      this.searchInput = "";
    },
    transfered(e) {
      console.log(e);
      const draggedItemId = e.dragTarget.draggedItemId,
        parentCategoryId = e.dragTarget.parentCategoryId,
        dropZoneCategory = e.dropZoneCategory;

      if (parentCategoryId > 0 && dropZoneCategory > 0) {
        // из категории в категорию
        let target, dropZoneCategoryIdx;

        this.documentsCategories.forEach((item, categoryIdx) => {
          if (item.id === parentCategoryId) {
            item.attached.forEach((attachedItem, attachedItemIdx) => {
              if (attachedItem.id === draggedItemId) {
                target = this.documentsCategories[categoryIdx].attached.splice(
                  attachedItemIdx,
                  1
                );
              }
            });
          }
          if (item.id === dropZoneCategory) dropZoneCategoryIdx = categoryIdx;
        });

        this.documentsCategories[dropZoneCategoryIdx].attached.splice(
          0,
          0,
          ...target
        );
        return;
      }
      if (parentCategoryId === 0 && dropZoneCategory > 0) {
        // из списка свободных элементов в категорию
        let target, dropZoneCategoryIdx;

        this.documentsCategories.forEach((item, categoryIdx) => {
          if (item.id === dropZoneCategory) dropZoneCategoryIdx = categoryIdx;
        });
        this.documentsItems.forEach((item, idx) => {
          if (item.id === draggedItemId) {
            target = this.documentsItems.splice(idx, 1);
          }
        });

        this.documentsCategories[dropZoneCategoryIdx].attached.splice(
          0,
          0,
          ...target
        );

        return;
      }
      if (parentCategoryId > 0 && dropZoneCategory === 0) {
        // из категорий в  список свободных элементов
        console.log("parentCategoryId > 0 && dropZoneCategory === 0");
        let target;

        this.documentsCategories.forEach((item, categoryIdx) => {
          if (item.id === parentCategoryId) {
            item.attached.forEach((attachedItem, attachedItemIdx) => {
              if (attachedItem.id === draggedItemId) {
                target = this.documentsCategories[categoryIdx].attached.splice(
                  attachedItemIdx,
                  1
                );
              }
            });
          }
        });

        this.documentsItems.splice(0, 0, ...target);

        return;
      }

      let targetIdx, zoneIdx;

      this.documentsCategories.forEach((item, i) => {
        if (item.id === e.dragTarget.categoryId) {
          targetIdx = i;
        }
        if (item.id === e.dropZone) {
          zoneIdx = i;
        }
      });

      let target = this.documentsCategories.splice(targetIdx, 1);
      this.documentsCategories.splice(zoneIdx + 1, 0, target[0]);
    },
  },
};
</script>

<style lang="scss">
.btn-book-m {
  border: 1px solid #d3d8df;
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}

.btn-add {
  background: url(../assets/i-plus.svg) no-repeat 10px center;
  font-size: 12px;
  padding: 9px 20px 8px 35px;
  border: 1px solid #d3d8df;
  border-radius: 50px;
  height: 30px;
  margin-left: 10px;
}
.documents {
  width: 1220px;
  padding: 33px 30px;
  margin: 0 auto;
  background-color: #fff;

  &-head {
    &__title {
      margin: 0;
      padding: 0;
      font-size: 22px;
    }
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 30px;
    }
    &__btns {
      display: flex;
    }
    &__search {
      width: 100%;
      max-width: 564px;
      position: relative;

      &-input {
        width: 100%;
        border: 0;
        padding: 12px 12px 12px 26px;
        border-bottom: 1px solid #bfc9e0;
        background: url(../assets/i-search.svg) no-repeat left center;
      }
      &-input:focus {
        border-bottom: 1px solid #8c93a3;
      }
      .btn-close {
        border: 0;
        background-color: transparent;
        height: 12px;
        width: 18px;
        position: absolute;
        bottom: 14px;
        right: 0;
      }
    }
  }
}
</style>
