<template>
  <div class="">
    <div class="docs-list" @dragover.prevent>
      <div v-if="docsCategories.length === 0" class="item__info">
        Ничего не найдено. Попробуйте изменить параметры поиска.
      </div>

      <DocumentsCategory
        v-for="category in docsCategories"
        :key="category.id"
        :category="category"
        @transfered="transfered"
      />
    </div>
    <div class="docs-items-list" @dragover.prevent @drop="dragDrop($event, 0)">
      <DocumentsCategoryItem
        v-for="docsItem in docsItems"
        :key="docsItem.id"
        :docsItem="docsItem"
        :categoryId="0"
      />
    </div>
  </div>
</template>
<script>
import DocumentsCategory from "./DocumentsCategory.vue";
import DocumentsCategoryItem from "./DocumentsCategoryItem.vue";
export default {
  components: {
    DocumentsCategory,
    DocumentsCategoryItem,
  },
  props: {
    docsCategories: {
      type: Array,
      required: false,
      default: () => [],
    },
    docsItems: {
      type: Array,
      required: false,
      default: () => [],
    },
  },
  emits: ["transfered"],
  data() {
    return {};
  },

  methods: {
    transfered(e) {
      this.$emit("transfered", e);
    },
    dragDrop(e, category) {
      const item = JSON.parse(e.dataTransfer.getData("item"));
      this.$emit("transfered", {
        dropZoneCategory: category,
        dragTarget: item,
      });
    },
  },
};
</script>
<style lang="scss">
.docs-list {
  padding-top: 34px;
  &__info {
    color: #8e9cbb;
    font-size: 15px;
  }
}
.docs-items-list {
  margin-top: 14px;
  min-height: 120px;
  .item {
    margin-left: 0px;
  }
}
.docs-row {
  overflow: hidden;
}
</style>
