<template>
  <div class="docs-row">
    <div
      @mousedown="target = $event.target"
      @dragstart="dragStart"
      @drop="dragDrop($event, category.id)"
      draggable="true"
      class="category"
    >
      <button @click="openAttached" class="btn toggle toggle--open">
        <img src="../assets/i-arr-d.svg" alt="" />
      </button>
      <div class="category__title">{{ category.name }}</div>
      <div class="category__status">
        <div v-if="category.docAttr1" class="circle circle--1"></div>
        <div v-if="category.docAttr2" class="circle circle--2"></div>
        <div v-if="category.docAttr3" class="circle circle--3"></div>
        <div v-if="category.docAttr4" class="circle circle--4"></div>
        <div v-if="category.docAttr5" class="circle circle--5"></div>
      </div>
      <div v-if="category.required" class="category__required">
        Обязательный
      </div>
      <div class="category__text">
        {{ category.text }}
      </div>
      <div class="category__actions">
        <button class="btn category__actions-btn">
          <img src="../assets/i-edit.svg" alt="" /></button
        ><button class="btn category__actions-btn">
          <img src="../assets/i-delete.svg" alt="" /></button
        ><button ref="dragHandle" class="btn category__actions-btn">
          <img src="../assets/i-move.svg" alt="" />
        </button>
      </div>
    </div>
    <transition
      name="fade"      
    >
      <div v-show="isOpen" ref="attached" class="attached">
        <DocumentsCategoryItem
          v-for="docsItem in category.attached"
          :key="docsItem.id"
          :docsItem="docsItem"
          :categoryId="category.id"
          @drop="dragDrop($event, category.id)"
        />
      </div>
    </transition>
  </div>
</template>
<script>
import DocumentsCategoryItem from "./DocumentsCategoryItem.vue";
export default {
  components: {
    DocumentsCategoryItem,
  },
  props: {
    category: {
      type: Object,
      required: false,
      default: () => {},
    },
  },
  emits: ["open", "transfered"],

  data() {
    return {
      isOpen: true,
      target: null,
    };
  },
 
  methods: {
    
    dragDrop(e, category, categoryItem) {
      const item = JSON.parse(e.dataTransfer.getData("item"));
      this.$emit("transfered", {
        dropZoneCategory: category,
        dropZoneItem: categoryItem,
        dragTarget: item,
      });
    },
    dragStart(e) {
      if (this.$refs.dragHandle.contains(this.target)) {
        console.log(e.target);
        e.dataTransfer.dropEffect = "move";
        e.dataTransfer.effectAllowed = "move";
        e.dataTransfer.setData(
          "item",
          JSON.stringify({
            categoryId: this.category.id,
          })
        );
      } else {
        e.preventDefault();
      }
    },
    openAttached() {
      if (!this.category.attached.length) return;
      this.isOpen = !this.isOpen;
    },
  },
};
</script>
<style lang="scss">
.category {
  display: flex;
  align-items: center;
  position: relative;
  padding: 13px 16px;
  background-color: #fff;
  border: 1px solid #dfe4ef;

  z-index: 10;

  &__title {
    font-size: 15px;
    color: #000;
    font-weight: 600;
    margin-left: 15px;
    line-height: 22px;
  }
  &__required {
    font-size: 11px;
    margin-left: 15px;
    color: #ff238d;
  }
  &__status {
    display: flex;
    align-items: center;
    margin-left: 15px;

    .circle {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: 2px 3px 0;
    }
    .circle--1 {
      background: #ff238d;
    }
    .circle--2 {
      background: #ffb800;
    }
    .circle--3 {
      background: #ff8d23;
    }
    .circle--4 {
      background: #00c2ff;
    }
    .circle--5 {
      background: #00c2ff;
    }
  }
  &__text {
    font-size: 11px;
    color: #8e9cbb;
    margin-left: 15px;
    line-height: 22px;
  }
  &__actions {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    padding-left: 30px;
    background: -moz-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 12%,
      rgba(255, 255, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 12%,
      rgba(255, 255, 255, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 12%,
      rgba(255, 255, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );

    &-btn {
      border: 0;
      background-color: #fff;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 14px;
        pointer-events: none;
      }
    }
  }
}
.attached {
  transition: height 0.3s ease;
  .item {
    padding: 9px 15px;
    margin-left: 16px;
    position: relative;
    z-index: 9;
    &__title {
      margin-left: 0;
      font-size: 13px;
      font-weight: 400;
    }
  }
  .toggle {
    display: none;
  }
}
.toggle {
  border: 1px solid #d3d8df;
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 22px;
}
.toggle--open {
  transform: rotate(180deg);
}
</style>
