<template>
  <div
    @mousedown="clickToItem"
    @dragstart="dragStart"
    draggable="true"
    class="item"
  >
    <div class="item__title">
      {{ docsItem.name }}
    </div>
    <div class="item__status">
      <div v-if="docsItem.docAttr1" class="circle circle--1"></div>
      <div v-if="docsItem.docAttr2" class="circle circle--2"></div>
      <div v-if="docsItem.docAttr3" class="circle circle--3"></div>
      <div v-if="docsItem.docAttr4" class="circle circle--4"></div>
      <div v-if="docsItem.docAttr5" class="circle circle--5"></div>
    </div>
    <div v-if="docsItem.required" class="item__required">Обязательный</div>
    <div class="item__text">
      {{ docsItem.text }}
    </div>
    <div class="item__actions">
      <button class="btn item__actions-btn">
        <img src="../assets/i-edit.svg" alt="" /></button
      ><button class="btn item__actions-btn">
        <img src="../assets/i-delete.svg" alt="" /></button
      ><button ref="dragHandle" class="btn item__actions-btn">
        <img src="../assets/i-move.svg" alt="" />
      </button>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    docsItem: {
      type: Object,
      required: true,
      default: () => {},
    },
    categoryId: {
      type: Number,
      required: true,      
    },
  },

  data() {
    return {     
      target: null,
    };
  },
  methods: {
    clickToItem(e) {
      this.target = e.target;
    },
    dragStart(e) {
      if (this.$refs.dragHandle.contains(this.target)) {
        e.dataTransfer.dropEffect = "move";
        e.dataTransfer.effectAllowed = "move";
        e.dataTransfer.setData(
          "item",
          JSON.stringify({
            parentCategoryId: this.categoryId,
            draggedItemId: this.docsItem.id,
          })
        );
      } else {
        e.preventDefault();
      }
    },
  },
};
</script>
<style lang="scss">
.item {
  display: flex;
  align-items: center;
  position: relative;

  background-color: #fff;
  border: 1px solid #dfe4ef;
  padding: 9px 15px;
  margin-left: 16px;
  position: relative;
  z-index: 9;

  &__title {
    color: #000;
    line-height: 22px;
    margin-left: 0;
    font-size: 13px;
    font-weight: 400;
  }
  &__required {
    font-size: 11px;
    margin-left: 15px;
    color: #ff238d;
  }
  &__status {
    display: flex;
    align-items: center;
    margin-left: 15px;

    .circle {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: 2px 3px 0;
    }
    .circle--1 {
      background: #ff238d;
    }
    .circle--2 {
      background: #ffb800;
    }
    .circle--3 {
      background: #ff8d23;
    }
    .circle--4 {
      background: #00c2ff;
    }
    .circle--5 {
      background: #00c2ff;
    }
  }
  &__text {
    font-size: 11px;
    color: #8e9cbb;
    margin-left: 15px;
    line-height: 22px;
  }
  &__actions {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    padding-left: 30px;
    background: -moz-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 12%,
      rgba(255, 255, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 12%,
      rgba(255, 255, 255, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 12%,
      rgba(255, 255, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );

    &-btn {
      border: 0;
      background-color: #fff;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 14px;
        pointer-events: none;
      }
    }
  }
}
</style>
