<template>
  <DocumentsTable />
</template>

<script>
import DocumentsTable from "./components/DocumentsTable.vue";

export default {
  name: "App",
  components: {
    DocumentsTable,
  },
};
</script>



